# gitignore all file endings from gromacs except mdp and fasta:

**.txt**
**.gro**
**.top**
**.itp**
**.log**
**.tpr**
**.trr**
**.edr**
**.cpt**
**.xvg**
**.ndx**
**.xtc**
**.mol2**
**.pdb**
**.xyz**
**job.**

dipeptides/yp-correction

**.png

**.code-workspace
**.vscode

**.npy
**.npz
**.out
**.err
**.log
**.dat

__pycache__/
**.pyc
**.pyo
**.pyd
**.egg-info/
**.eggs/
**.tox/
**.env/
**.venv/
**.env.bak/
**.venv.bak/

**log.txt
**log_old.txt

psi_scratch/
psi.**

## tutorial files
# Ignore everything in the tutorial directory
tutorial/*

# Exclude the specific directories
!tutorial/amber99sb-ildn.ff/
!tutorial/pdbs/
!tutorial/tutorial-QM-input/

# Exclude the specific file
!tutorial/create_grappa_dataset.ipynb

# Ensure contents of the allowed directories are tracked
tutorial/amber99sb-ildn.ff/*
tutorial/pdbs/*
tutorial/tutorial-QM-input/*

# Re-include all files in the allowed directories
!tutorial/amber99sb-idln.ff/**
!tutorial/pdbs/**
!tutorial/tutorial-QM-input/**
